<o-form #ProductForm attr="Product_form_insert" service="Product" entity="Product" 
keys="Id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #UnitsInStock attr="UnitsInStock" label="Unitsinstock " type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #UnitsShipped attr="UnitsShipped" label="Unitsshipped " type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #ProductName attr="ProductName" label="Product Name " enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #UnitsOnOrder attr="UnitsOnOrder" label="Unitsonorder " type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #Id attr="Id" label="Id " type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #QuantityPerUnit attr="QuantityPerUnit" label="Quantityperunit " enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #ReorderLevel attr="ReorderLevel" label="Reorderlevel " type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #SupplierId attr="SupplierId" label="Supplierid " type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #Discontinued attr="Discontinued" label="Discontinued " type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #CategoryId attr="CategoryId" label="Categoryid " type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-currency-input #UnitPrice attr="UnitPrice" title="Unitprice " type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>