<o-form-layout-manager mode="tab" title="Employees" label-columns="LastName;FirstName" separator=", ">
    <o-grid #grid attr="EmployeeTable" service="Employee" entity="Employee"
    columns="EmployeeType;Title;Address;Country;PhotoPath;WorksForDepartmentId;TitleOfCourtesy;City;HomePhone;Notes;Salary;Dues;FirstName;BirthDate;Region;Extension;LastName;Id;HireDate;PostalCode;ReportsTo;OnLoanDepartmentId;ProperSalary"
    quick-filter-columns="EmployeeType;Title;Address;Country;PhotoPath;WorksForDepartmentId;TitleOfCourtesy;City;HomePhone;Notes;Salary;Dues;FirstName;BirthDate;Region;Extension;LastName;Id;HireDate;PostalCode;ReportsTo;OnLoanDepartmentId;ProperSalary" keys="Id" sort-columns="LastName"
    pageable="yes" query-rows="16" fixed-header="yes" refresh-button="no" gutter-size="18px" detail-mode="none"
    insert-button="yes">
    <o-grid-item *ngFor="let item of grid.dataArray">
        <div (click)="openDetail(item)" fxLayout="column" fxLayoutAlign="space-evenly center" class="Employee-item mat-elevation-z1">
            <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
            <mat-divider fxFlex></mat-divider>
            <div class="image">
                <img [src]="getImageSrc(item.PhotoPath)">
            </div>
            <mat-divider fxFlex></mat-divider>
            </div>
        
            <div fxLayout="column" fxLayoutAlign="start center" class="Employee-data">
            
            
            <span>{{item.Title}}</span>
            
            </div>
        </div>
        </o-grid-item>
</o-grid>
</o-form-layout-manager>