<div class="container" fxFill>
  <o-grid #grid attr="EmployeeTable" service="Employee" entity="Employee"
    columns="LastName;OnLoanDepartmentId;WorksForDepartmentId;Salary;ProperSalary;EmployeeType;Dues;FirstName;Id;Title;TitleOfCourtesy;BirthDate;HireDate;Address;City;Region;PostalCode;Country;HomePhone;Extension;ReportsTo;PhotoPath;Notes"
    keys="Id" sort-columns="LastName" pageable="yes" query-rows="16" fixed-header="yes" refresh-button="no" gutter-size="18px" detail-mode="none">
    <o-grid-item *ngFor="let item of grid.dataArray">
      <div (click)="openDetail(item)" fxLayout="column" fxLayoutAlign="space-evenly center" class="employee-item mat-elevation-z1">
        <div fxLayout="row" fxLayoutAlign="space-between end" class="image-container">
          <mat-divider fxFlex></mat-divider>
          <div class="image">
            <img [src]="getImageSrc(item.PhotoPath)">
          </div>
          <mat-divider fxFlex></mat-divider>
        </div>

        <div fxLayout="column" fxLayoutAlign="start center" class="employee-data">
          <span class=" employee-name">{{ item.FirstName }} {{ item.LastName }} </span>
          <span>{{ item.HomePhone }}</span>
          <span>{{ item.TitleOfCourtesy }}{{ item.Title }}
            <div class="square"></div>
            {{ item.EmployeeType | oTranslate }}
          </span>
          <span>{{ item.Address }}</span>
        </div>
      </div>
    </o-grid-item>
  </o-grid>
</div>
