<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="employee-detail" fxFill>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="35">
      <div class="image">
        <img [src]="getImageSrc(data.PhotoPath)">
      </div>
      <span class="employee-name">{{ data.FirstName }} {{ data.LastName }}</span>
      <mat-divider></mat-divider>
      <span class="employee-type">{{ data.EmployeeType | oTranslate }}</span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="column" fxFlex="55" class="employee-data">
      <span *ngIf="data.HomePhone">
        <mat-icon>smartphone</mat-icon>{{ data.HomePhone }}
      </span>
      <span *ngIf="data.Address">
        <mat-icon>home</mat-icon>
        <div fxLayout="column" fxLayoutAlign="start start">
          <span>{{ data.Address }}</span>
          <ng-container *ngIf="data.PostalCode">, {{ data.PostalCode }} </ng-container>
          <ng-container *ngIf="data.City">, {{ data.City }}</ng-container>
          <ng-container *ngIf="data.Country">, {{ data.Country }}</ng-container>
        </div>
      </span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" *ngIf="data.Extension">
    <span class="employee-office">{{ 'Extension' | oTranslate}}: {{data.Extension }}</span>
  </div>
</div>
